/* @import 'tailwindcss'; */

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    font-size: 20px;
    background-color: rgb(250, 249, 249);
}
#search-input{
    
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid gray;
     border-radius: 5px;
     font-size: 20px;
    
}
#search-input:focus{
    outline: none;
    border: 2px solid rgb(17, 36, 241);
    border-radius: 5px;
}
#search-div{
    width: 90%;
    height: 40%;
    display: flex;
    padding: 40px;
    justify-content: center;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 15px gray;
}
#search-button{
    padding: 10px;
    background-color: rgb(17, 36, 241);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
}
#search-button:active{
   
    transform: scale(1.05);
}

